

.calculadora{
	position: relative;
	display: block;
	width: 350px;
	height: 515px;
	background: #0E263C;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
}
.pantalla{
	font-size: 36px;
	text-align: right;
	width: 300px;
	height: 55px;
	background: #193249;
	color: #FFFFFF;
	border-radius: 20px;
	padding-right: 7px;
}
.actuadores{
	width: 50px;
	height: 30px;
	margin: 10px;
	color: #4DF24D;
	background:#193249;
	border: none;
	border-radius: 5px;
}
.operadores{
		color: #4DF24D;
}
.actuadores:active{
	color: #F73131;
	background: #43545B;
}
.boton{
	font-size: 20px;
	color: #FFFFFF;
	display: block;
	width: 70px;
	height: 70px;
	margin: auto;
	background: #43545B;
	border-radius: 100%;
	border: none;
}
.boton:active{
		background: #7C8C93;
}

#reset:active{
	color: #FB2323;
}

.timer1{
	color: #FFFFFF;
	position: absolute;
	display: block;
	top:30px ;
	left: 485px;
	width: 300px;
	height: 200px;
	background:linear-gradient(180deg,#0E263C,#2D465C);
	border-radius: 18px 0 0 18px;
}
.convert1{
	color: #FFFFFF;
	position: absolute;
	display: block;
	top:230px ;
	left: 486px;
	width: 300px;
	height: 280px;
	background:linear-gradient(180deg,#0E263C,#2D465C);
	border-radius: 18px 0 0 18px;
}
.cien1{
	color: #FFFFFF;
	position: absolute;
	display: block;
	top:30px ;
	left: 1130px;
	width: 300px;
	height: 480px;
	background:linear-gradient(180deg,#0E263C,#2D465C);
	border-radius: 0 18px 18px 0;
}